/*
  Theme: raw-dark
  Author: Ynck Chrl (http://github.com/ynck-chrl)
  License: ~ MIT (or more permissive)
  Maintainer: ynck.dev
  Version: 2025.02.12
*/

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: calc(var(--space-unit) * 2, 1rem);
}

code.hljs {
  padding: var(--space-unit, 0.5rem);
}

.hljs {
  color: hsl(190, 100%, 90%);
  background: hsl(158, 68%, 25%);
}

.hljs::selection {
  background-color: hsla(var(--c2, 60, 100%, 50%), .99);
  color: var(--color-o-c2);
}

.hljs-comment {
  color: hsla(245, 9%, 53%, 0.6)
}

.hljs-tag {
  color: hsl(341, 97%, 57%)
}

.hljs-operator,
.hljs-punctuation,
.hljs-subst {
  color: hsl(118, 47%, 40%)
}

:host-context(.--mode-dark) .hljs-operator,
:host-context(.--mode-dark) .hljs-punctuation,
:host-context(.--mode-dark) .hljs-subst {
  color: hsl(119, 100%, 83%)
}

.hljs-operator {
  opacity: .7
}

.hljs-bullet,
.hljs-deletion,
.hljs-name,
.hljs-selector-tag,
.hljs-template-variable,
.hljs-variable {
  color: hsl(201, 23%, 26%)
}

:host-context(.--mode-dark) .hljs-bullet,
:host-context(.--mode-dark) .hljs-deletion,
:host-context(.--mode-dark) .hljs-name,
:host-context(.--mode-dark) .hljs-selector-tag,
:host-context(.--mode-dark) .hljs-template-variable,
:host-context(.--mode-dark) .hljs-variable {
  color: hsl(175, 46%, 59%)
}

.hljs-attr,
.hljs-link,
.hljs-literal,
.hljs-number,
.hljs-symbol,
.hljs-variable.constant_ {
  color: hsl(192, 99%, 38%)
}

.hljs-class .hljs-title,
.hljs-title,
.hljs-title.class_ {
  color: hsl(17, 100%, 56%)
}

.hljs-strong {
  font-weight: 700;
  color: hsl(216, 91%, 56%)
}

:host-context(.--mode-dark) .hljs-strong {
  font-weight: 700;
  color: hsl(185, 100%, 73%)
}

.hljs-addition,
.hljs-code,
.hljs-string,
.hljs-title.class_.inherited__ {
  color: hsl(278, 99%, 53%)
}

:host-context(.--mode-dark) .hljs-addition,
:host-context(.--mode-dark) .hljs-code,
:host-context(.--mode-dark) .hljs-string,
:host-context(.--mode-dark) .hljs-title.class_.inherited__ {
  color: hsl(191, 100%, 35%)
}

.hljs-built_in,
.hljs-doctag,
.hljs-keyword.hljs-atrule,
.hljs-quote,
.hljs-regexp {
  color: hsl(218, 100%, 55%)
}

:host-context(.--mode-dark) .hljs-attribute,
:host-context(.--mode-dark) .hljs-function .hljs-title,
:host-context(.--mode-dark) .hljs-section,
:host-context(.--mode-dark) .hljs-title.function_,
:host-context(.--mode-dark) .ruby .hljs-property {
  color: hsl(180, 100%, 50%)
}

.hljs-attribute,
.hljs-function .hljs-title,
.hljs-section,
.hljs-title.function_,
.ruby .hljs-property {
  color: hsl(141, 88%, 31%)
}

.diff .hljs-meta,
.hljs-keyword,
.hljs-template-tag,
.hljs-type {
  color: hsl(333, 100%, 56%)
}

.hljs-emphasis {
  color: hsl(217, 100%, 50%);
  font-style: italic
}

:host-context(.--mode-dark) .hljs-emphasis {
  color: hsl(188, 100%, 50%);
  font-style: italic
}

.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-meta .hljs-string {
  color: hsl(53, 77%, 40%)
}

.hljs-meta .hljs-keyword,
.hljs-meta-keyword {
  font-weight: 700
}